.matchcard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #333, #262626), #262626;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}

.matchcard-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
