.chip {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  color: #262626;
  font-size: 16px;
  cursor: pointer;
}
.chip-text{
  width: 100px;
}
.chip img {
  width: 35px;
  height: 35px;
}

.match-score {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  color: #262626;
  font-size: 16px;
}
.match-score img {
  width: 35px;
  height: 35px;
}
.match-card {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  color: #262626;
  font-size: 16px;
}
.match-live {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.match-live img {
  width: 32px;
  height: 16px;
}

.trade-card {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}
.trade-img img {
  width: 55px;
  height: 55px;
  padding: 8px;
  box-shadow: inset 0 0 2px #e3e3e3;
  border-radius: 16px;
  margin: 0 0 16px;
}
.trade-expire {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.trade-expire img {
  width: 15 px;
  height: 15px;
}
.tarde-expire-text {
  font-size: 13px;
  color: #262626;
}
.tarde-content {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.trade-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trade-btn-primary {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #197bff;
  background: linear-gradient(
      104.13deg,
      hsla(0, 0%, 100%, 0.25) 3.11%,
      rgba(94, 163, 255, 0.125) 34.12%
    ),
    #e8f2ff;
}
.trade-btn-secondary {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #dc2804;
  background: linear-gradient(
      104.13deg,
      hsla(0, 0%, 100%, 0.25) 3.11%,
      hsla(6, 75%, 63%, 0.125) 34.12%
    ),
    #fdf3f2;
}
