.partnership-section {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0;
  color: #333;
  display: flex;
  justify-content: center;
}
.partnership-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.partnership-left,
.partnership-right {
  flex: 1;
}

.partnership-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partnership-right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
